@media screen and (min-width : 992px) {
  .title {
    position: absolute;
    left: 100px;
  }

  h2 {
    margin-left: 100px;
  }
  .container-note {
    grid-template-columns: repeat(4, 1fr);
  }

  form {
    margin: auto;
    width: 70%;
  }
}